/* Webfont: BroncoRegular */@font-face {
    font-family: 'Bronco';
    src: url('Bronco.eot'); /* IE9 Compat Modes */
    src: url('Bronco.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Bronco.woff') format('woff'), /* Modern Browsers */
         url('Bronco.woff2') format('woff2'), /* Modern Browsers */
         url('Bronco.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

